{
  "presets": [
    ["latest", {
      "es2015": {
        "modules": false,
        "loose": true
      }
    }],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-flow-strip-types"
  ]
}